---
import styles from './ParallaxImage.module.scss';
---

<section class={styles.parallaxImage}>
  <picture>
    <source
      srcset="/images/parallax-image-pc.webp"
      media="(min-width:768px)"
    />
    <img src="/images/parallax-image.webp" alt="" />
  </picture>
</section>
