---
import styles from './HeroSection.module.scss';
---

<section class={styles.hero}>
  <span class={styles.heroImage}>
    <picture>
      <source srcset="/public/images/fv.webp" media="(min-width:768px)" />
      <img
        src="/public/images/fv-bg02-sp.webp"
        alt="ここにはチャンスしかない - Noveltyのメインメッセージ"
      />
    </picture>
  </span>
</section>
