---
import styles from './ChanceMessageSection.module.scss';
---

<section class={styles.chanceMessage}>
  <div class={styles.container}>
    <span class={styles.chanceImage}>
      <svg
        width="21"
        height="21"
        viewBox="0 0 21 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <g clip-path="url(#clip0_1_2223)">
          <path
            d="M10.5001 20.3758L10.2939 16.0737L10.2658 16.0737C10.2658 12.9528 7.73532 10.4223 4.61448 10.4223V10.3944L0.312256 10.188L4.61448 9.98154V9.95368C7.73532 9.95368 10.2658 7.42316 10.2658 4.30232L10.2939 4.30232L10.5001 0.000159173L10.7068 4.30232L10.7345 4.30233C10.7345 7.42316 13.265 9.95368 16.3858 9.95368L16.3858 9.98152L20.6879 10.188L16.3858 10.3945L16.3858 10.4223C13.265 10.4223 10.7345 12.9528 10.7345 16.0737L10.7068 16.0737L10.5001 20.3758Z"
            fill="#3730FF"></path>
        </g>
        <defs>
          <clipPath id="clip0_1_2223">
            <rect
              width="14.4078"
              height="14.4078"
              fill="white"
              transform="translate(0.312256 10.188) rotate(-45)"></rect>
          </clipPath>
        </defs>
      </svg>
    </span>
    <p class={styles.chanceText}>
      チャンス（名詞）〔chance〕
      <span>機会。特に、何かを行なうのによい機会。好機。</span>
    </p>
  </div>
</section>
